/*===================
	Global style
=====================*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Tajawal", sans-serif;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.section-header > div > svg {
  width: 50px;
  height: 50px;
  margin-left: 15px;
}
.section-header > div h3 {
  font-weight: 700;
}
.section-header h6 {
  color: #797C83;
}
.section-header .list-formate-btn {
  width: 45px;
  height: 45px;
  border-radius: 8px;
  border: 1px solid #E6E6E6;
}
.section-header .list-formate-btn[class*=list-1] {
  margin-left: 10px;
}
.section-header .list-formate-btn[class*=list-1] svg {
  fill: #009E52;
  width: 25px;
  height: 25px;
}
.section-header .list-formate-btn[class*=list-1].active svg {
  fill: #fff;
}
.section-header .list-formate-btn[class*=list-2] svg {
  stroke: #009E52;
  width: 20px;
  height: 20px;
}
.section-header .list-formate-btn[class*=list-2].active svg {
  stroke: #fff;
}
.section-header .list-formate-btn.active {
  background-color: #009E52;
  border-color: #009E52;
}
@media only screen and (max-width: 768px) {
  .section-header .list-formate-btn {
    display: none;
  }
}

.paddingY-section {
  padding: 50px 0;
}

.btn-border {
  color: #009E52;
  border: 2px solid #009E52;
  border-radius: 12px;
  text-align: center;
  display: block;
  min-width: 150px;
  padding: 10px 0;
  margin: 0 auto;
  font-weight: 600;
  transition: all ease-in-out 0.3s;
}
.btn-border svg {
  width: 17px;
  height: 17px;
  stroke: #009E52;
  margin-left: 10px;
  transition: all ease-in-out 0.3s;
}
.btn-border:hover {
  background-color: #009E52;
  color: #fff;
}
.btn-border:hover svg {
  stroke: #fff;
}
.btn-border.btn-more {
  border-color: #E6E6E6;
  color: #000000;
  background-color: #fff;
  border-radius: 30px;
  width: 140px;
}
.btn-border.btn-more:hover {
  border-color: #009E52;
  color: #fff;
  background-color: #009E52;
}

.contact {
  position: fixed;
  left: 30px;
  bottom: 30px;
  z-index: 98;
}
.contact img {
  width: 70px;
}

.cards-list {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}
.cards-list .aqar-card {
  border-radius: 20px;
  border: none;
  box-shadow: 0 5px 16px rgba(137, 137, 137, 0.1);
  width: 31%;
  margin: 0 1.1% 40px;
}
.cards-list .aqar-card .card-title {
  color: #000000;
  transition: all ease-in-out 0.3s;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}
.cards-list .aqar-card .card-title h5 {
  font-weight: 600;
}
.cards-list .aqar-card .card-title:hover {
  color: #009E52;
}
.cards-list .aqar-card p.location {
  color: #334155;
}
.cards-list .aqar-card p.location svg {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.cards-list .aqar-card p.price {
  color: #009E52;
}
.cards-list .aqar-card p.info {
  font-size: 16px;
  color: #797C83;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
}
.cards-list .aqar-card .card-body {
  padding: 20px;
}
.cards-list .aqar-card.list-card {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  padding: 20px;
}
.cards-list .aqar-card.list-card .aqar-card-img {
  width: 20%;
  margin-left: 10px;
  border-radius: 20px;
  overflow: hidden;
}
.cards-list .aqar-card.list-card .card-body {
  width: 80% !important;
}
@media only screen and (max-width: 768px) {
  .cards-list .aqar-card {
    width: 100%;
  }
}

/*===================
	header style
=====================*/
.header {
  animation: slideDown 0.35s ease-out;
  padding: 20px 0;
}
.header .logo img {
  width: 120px;
}
.header .menu-btn {
  display: none;
  height: 35px;
  width: 35px;
  border-radius: 5px;
  border: 1px solid #009E52;
  color: #009E52;
  align-items: center;
  justify-content: center;
}
.header.is-sticky {
  position: fixed;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
  top: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 100;
}
@media only screen and (max-width: 768px) {
  .header .menu-list,
  .header .contact-us {
    display: none;
  }
  .header .menu-btn {
    display: flex;
  }
}

.header-page {
  background-image: url("../img/slider.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-list .nav li.nav-item {
  padding: 0 8px;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.menu-list .nav li.nav-item a {
  color: #000000;
  transition: all 0.3s ease-in-out;
  font-weight: 600;
  font-size: 15px;
}
.menu-list .nav li.nav-item:hover {
  color: #009E52;
}
.menu-list .nav li.nav-item:hover a {
  color: #009E52;
}
.menu-list .nav li.nav-item.active a {
  color: #009E52;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
  z-index: 100;
  opacity: 0;
  display: none;
}

.mobile-navbar {
  background-color: #fff;
  width: 80%;
  z-index: 10000;
  align-items: start;
  justify-content: center;
  padding: 20px 20px 50px;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  display: none;
}
.mobile-navbar .close-btn i {
  font-size: 25px;
}
.mobile-navbar .menu-list .nav {
  display: block;
  width: 80%;
  margin: 0 auto;
}
.mobile-navbar .menu-list .nav .nav-item a {
  display: block;
  text-align: center;
  padding: 15px 0;
}

/*===================
	footer style
=====================*/
.footer {
  background-color: #009E52;
  color: #fff;
}
.footer .swip-up {
  display: flex;
}
.footer .swip-up i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  border: 2px solid #fff;
  font-size: 17px;
  line-height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .social-list li {
  display: inline-block;
  margin-left: 10px;
}
.footer .social-list li .social-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .social-list li .social-icon svg {
  width: 20px;
  height: 20px;
  fill: #00B05A;
}
.footer .social-list li a {
  color: #fff;
}

/*===================
	home page style
=====================*/
.home-page .slider {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 100px 0;
}
.home-page .slider .title {
  color: #fff;
  font-weight: 600;
  width: 100%;
  text-align: center;
}
.home-page .slider .search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  background-color: #fff;
  border-radius: 20px;
  width: 60%;
}
.home-page .slider .search-box .search-form {
  width: 93%;
}
.home-page .slider .search-box .search-form .search-input-btn {
  background-color: rgba(0, 158, 82, 0.031372549);
  border-radius: 8px;
  position: relative;
}
.home-page .slider .search-box .search-form .search-input-btn .search-field {
  background: transparent;
  height: 100%;
  width: 100%;
  border: none;
  color: #009E52;
  outline: none;
  padding: 10px 10px 10px 0px;
  font-size: 18px;
}
.home-page .slider .search-box .search-form .search-input-btn .search-field::placeholder {
  color: #000000;
}
.home-page .slider .search-box .search-form .search-input-btn .search-field::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 30px;
  width: 30px;
  background: url("../img/xmark-solid.svg") no-repeat 50% 50%;
}
.home-page .slider .search-box .search-form .search-input-btn .search-list {
  position: absolute;
  top: 50px;
  right: 0;
  width: 100%;
  display: none;
}
.home-page .slider .search-box .search-form .search-input-btn .search-list .list-group {
  box-shadow: 0 5px 16px rgba(137, 137, 137, 0.1);
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}
.home-page .slider .search-box .search-form .search-input-btn .search-list .list-group .list-group-item {
  border: none;
  color: #000000;
  transition: all ease-in-out 0.3s;
}
.home-page .slider .search-box .search-form .search-input-btn .search-list .list-group .list-group-item:hover {
  background-color: rgba(0, 158, 82, 0.1019607843);
  color: #009E52;
}
.home-page .slider .search-box svg {
  width: 20px;
  height: 20px;
}
.home-page .slider .search-box .filter-btn {
  background-color: rgba(0, 158, 82, 0.031372549);
  border-radius: 8px;
}
.home-page .contact-us {
  background-color: #009E52;
  border-radius: 10px;
  padding-right: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.home-page .contact-us .btn-border {
  border-color: #fff;
  color: #fff;
  margin: 0;
  margin-left: 50px;
}
.home-page .contact-us .btn-border svg {
  stroke: #fff;
}
.home-page .contact-us h2,
.home-page .contact-us h4 {
  font-weight: 600;
  color: #fff;
}
.home-page .choosing-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.home-page .choosing-list .choose-card {
  width: 20%;
  text-align: center;
}
.home-page .choosing-list .choose-card .card-svg {
  position: relative;
  display: inline-block;
}
.home-page .choosing-list .choose-card .card-svg svg {
  width: 60px;
  height: 60px;
}
.home-page .choosing-list .choose-card .card-svg:after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #009E52;
  border-radius: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.home-page .choosing-list .choose-card h4 {
  font-weight: 700;
  margin-bottom: 30px;
}
.home-page .choosing-list .choose-card p {
  color: #797C83;
}
.home-page .fillter-modal .modal-header {
  border: none;
  padding: 20px;
}
.home-page .fillter-modal .modal-header .btn-close {
  font-size: 10px;
}
.home-page .fillter-modal .modal-body {
  padding: 10px 30px 40px;
}
.home-page .fillter-modal .modal-body::-webkit-scrollbar {
  width: 0;
}
.home-page .fillter-modal .modal-body .search-box {
  padding: 0px;
  width: 100%;
}
.home-page .fillter-modal .modal-body .search-box .search-form {
  width: 100%;
}
.home-page .fillter-modal .modal-body .nav-tabs {
  border: none;
}
.home-page .fillter-modal .modal-body .nav-tabs .nav-link {
  border: none;
  width: 80px;
  border-radius: 20px;
  border: 2px solid #E6E6E6;
  color: #797C83;
  margin-left: 15px;
  font-size: 14px;
  margin-bottom: 10px;
}
.home-page .fillter-modal .modal-body .nav-tabs .nav-link.active {
  background-color: #009E52;
  border-color: #009E52;
  color: #fff;
}
.home-page .fillter-modal .modal-body .tab-content .tab-pane h6 {
  font-weight: 600;
  color: #797C83;
}
.home-page .fillter-modal .custom-radio {
  display: block;
  color: #000000;
  padding: 10px 20px;
}
.home-page .fillter-modal .custom-radio:has(> input:checked) {
  background-color: rgba(0, 158, 82, 0.0392156863);
}
.home-page .fillter-modal .custom-radio input {
  display: none;
}
.home-page .fillter-modal .custom-radio input:checked + .check-btn {
  color: #009E52;
}
.home-page .fillter-modal .custom-radio input:checked + .check-btn .check-icon {
  background-color: #009E52;
}
.home-page .fillter-modal .custom-radio input:checked + .check-btn .check-icon > i {
  opacity: 1;
  transform: translateX(0) scale(1);
}
.home-page .fillter-modal .custom-radio .check-btn {
  margin-left: 10px;
  width: 100%;
  padding-right: 30px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.home-page .fillter-modal .custom-radio .check-btn .check-icon {
  color: #fff;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  top: 4px;
  right: 0;
  border-radius: 5px;
  border: 2px solid #E6E6E6;
  font-size: 10px;
}
.home-page .fillter-modal .custom-radio .check-btn .check-icon > i {
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
  transform: translateX(-40%) scale(2);
}
.home-page .loading .lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.home-page .loading .lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #009E52;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #009E52 transparent transparent transparent;
}
.home-page .loading .lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.home-page .loading .lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.home-page .loading .lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 768px) {
  .home-page .slider .search-box {
    width: 90%;
    padding: 20px;
  }
  .home-page .contact-us {
    padding: 30px 20px 0 20px;
  }
  .home-page .choosing-list .choose-card {
    width: 80%;
    margin-bottom: 30px;
  }
}

/*===================
	aqar page style
=====================*/
.aqar-page h5,
.aqar-page h4 {
  font-weight: 600;
}
.aqar-page .photos {
  position: relative;
}
.aqar-page .photos .fotorama {
  overflow: visible;
}
.aqar-page .photos .fotorama .fotorama__wrap,
.aqar-page .photos .fotorama .fotorama__stage,
.aqar-page .photos .fotorama .fotorama__stage__shaft {
  width: 100% !important;
}
.aqar-page .photos .fotorama .fotorama__wrap {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 20px;
}
.aqar-page .photos .fotorama .fotorama__stage {
  order: 2;
  max-height: 600px;
  border-radius: 8px;
}
.aqar-page .photos .fotorama .fotorama__nav {
  height: 100%;
}
.aqar-page .photos .fotorama .fotorama__nav-wrap {
  width: 30%;
}
.aqar-page .photos .fotorama .fotorama__nav-wrap .fotorama__nav__shaft {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  height: 100%;
  gap: 10px;
}
.aqar-page .photos .fotorama .fotorama__nav__frame {
  padding: 0px !important;
  flex: 1 0 0%;
  width: 100% !important;
}
.aqar-page .photos .fotorama .fotorama__active .fotorama__thumb {
  border-color: #009E52;
}
.aqar-page .photos .fotorama .fotorama__thumb {
  border: none;
  border-radius: 8px;
}
.aqar-page .photos .fotorama .fotorama__thumb img {
  height: 100% !important;
  width: 100% !important;
  object-fit: cover;
  left: 0 !important;
}
.aqar-page .photos .fotorama .fotorama__thumb-border,
.aqar-page .photos .fotorama .fotorama__fullscreen-icon,
.aqar-page .photos .fotorama .fotorama__arr {
  display: none !important;
}
.aqar-page .photos .fotorama .fotorama__thumb:hover {
  border-color: #E6E6E6;
  opacity: 0.8;
}
.aqar-page .photos .fotorama .fotorama__stage__frame .fotorama__img {
  height: 100% !important;
  width: 100% !important;
  object-fit: cover;
  left: 0 !important;
  top: 0 !important;
}
.aqar-page .photos .photos-num {
  padding: 9px 15px;
  background-color: rgba(255, 255, 255, 0.7803921569);
  color: #1C4456;
  border-radius: 10px;
  position: absolute;
  left: 20px;
  bottom: 40px;
}
.aqar-page .photos .photos-num svg {
  width: 20px;
  height: 20px;
}
.aqar-page .info svg {
  width: 20px;
  height: 20px;
  stroke: #0F172A;
}
.aqar-page .info a {
  transition: all ease-in-out 0.3s;
}
.aqar-page .info a:hover svg {
  stroke: #009E52;
}
.aqar-page .info .price {
  color: #009E52;
  font-weight: 600;
}
.aqar-page .info .name {
  font-weight: 700;
}
.aqar-page .info p {
  font-weight: 500;
  font-size: 18px;
}
.aqar-page .info .info-list {
  line-height: 2;
}
.aqar-page .info .info-list li {
  font-weight: 500;
  font-size: 18px;
}
.aqar-page .info .info-list li i {
  color: #009E52;
  margin-left: 5px;
}
.aqar-page .details {
  border-radius: 10px;
  border: 1px solid #E6E6E6;
  padding: 20px;
  color: #1C4456;
}
.aqar-page .details .details-list {
  line-height: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.aqar-page .details .details-list li {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.aqar-page .details .details-list li > span:first-of-type {
  width: 50%;
  color: #417086;
}
.aqar-page .details .details-list li > span:first-of-type i {
  font-size: 8px;
  margin-left: 5px;
}
.aqar-page .details .details-list li > span:last-of-type {
  width: 30%;
  color: #1C4456;
  font-weight: 500;
}
.aqar-page .contact-us .contact-list li {
  margin-left: 20px;
  display: inline-block;
}
.aqar-page .contact-us .contact-list li a {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aqar-page .contact-us .contact-list li a svg {
  width: 27px;
  height: 27px;
}
.aqar-page .contact-us .contact-list li a.calling {
  background-color: #000000;
}
.aqar-page .contact-us .contact-list li a.calling svg {
  stroke: #fff;
}
.aqar-page .contact-us .contact-list li a.gmail {
  background-color: #F1F5F9;
}
.aqar-page .contact-us .contact-list li a.whatsapp {
  background-color: #25D366;
}
.aqar-page .contact-us .contact-list li a.whatsapp svg {
  fill: #fff;
}
.aqar-page .location iframe {
  width: 100%;
  height: 400px;
}
@media only screen and (max-width: 768px) {
  .aqar-page .details .details-list li {
    width: 100%;
  }
}

/*===================
 privacy and conditions pages
=====================*/
.privecy-page {
  padding: 50px 0;
}
.privecy-page h3 {
  font-weight: 600;
  color: #009E52;
  text-align: center;
}
.privecy-page a {
  color: #009E52;
}
.privecy-page p.intro {
  line-height: 2;
  width: 70%;
  text-align: center;
  color: #797C83;
  margin: 0 auto;
}
.privecy-page .terms-list {
  width: 70%;
  margin: 0 auto;
  line-height: 2;
}
.privecy-page .terms-list li {
  margin-bottom: 20px;
}
.privecy-page .terms-list li h6 {
  position: relative;
}
.privecy-page .terms-list li h6 > span {
  width: 17px;
  height: 17px;
  background-color: rgba(0, 158, 82, 0.2);
  border-radius: 50%;
  position: absolute;
  right: -30px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.privecy-page .terms-list li h6 > span > span {
  width: 8px;
  height: 8px;
  background-color: #009E52;
  border-radius: 50%;
}/*# sourceMappingURL=style.css.map */
